@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('./header.css');
@import url('./main.css');
@import url('./trending.css');



body {
    font-family: "Roboto", sans-serif;
}

/* NEWS */

.mainNews {
    margin: 40px 0;
    margin: 0 16%;
}

.newsColumn {
    display: flex;

    margin-top: 30px;
}

.containerNews {
    width: 2500px;
}

.boxNews {
    display: flex;
    margin: 20px 0;
}

.containerImgNews {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.containerImgNews img {
    width: 38px;
    border-radius: 50%;
}

.containerImgNews h4 {
    font-size: 14px;
    font-weight: 500;
}

.headingNews h2 {
    font-size: 20px;
    font-weight: 500;
}

.headingNews p {
    color: #6b6b6b;
    line-height: 20px;
    font-weight: 300;
    margin: 10px 0;
}

.infoNews {
    display: flex;
    align-items: center;
}

.infoNews p:nth-child(1) {
    margin-right: 10px;
}

.infoNews p:nth-child(2) {
    margin-right: 10px;
}

.infoNews .categoryNews {
    display: flex;
    align-items: center;
}

.infoNews .categoryNews button {
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    margin-right: 4px;
    cursor: pointer;
}

.infoNews span {
    margin-left: auto;
}

.imgNews {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.imgNews img {
    width: 280px;
    border-radius: 8px;

}

.newsDiscover {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.newsDiscover h1 {
    font-size: 30px;
    font-weight: 600;
}

.box {
    display: flex;
    flex-direction: column;
}

.boxCategory {
    display: flex;
    gap: 20px;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 40px 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.213);
}

.category {
    border: 1px solid #f2f2f2;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 30px;
    width: 100px;
}

.boxHelp {
    display: flex;
    flex-wrap: wrap;
}

.boxHelp h3 {
    margin-right: 10px;
}