/* Trending */

.mainTrading {
    border-bottom: 1px solid rgba(128, 128, 128, 0.152);
}

.containerTrending {
    margin: 0 16%;

}

.titleTrending {
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;
    font-size: 18px;
    color: #242424;
    font-weight: 500;
}

.boxTrending {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    margin-bottom: 40px;

}

.trendingP {
    margin: 10px 0;
    font-weight: 700;
    line-height: 20px;

}

.infoPhoto {
    display: flex;
    align-items: center;
}

.infoPhoto p {
    font-weight: 500;
    font-size: 12px;
}

.infoPhoto span {
    font-weight: 200;
    margin: 0 2px;
}

.infoPhoto img {
    width: 20px;
    border-radius: 50%;
    margin-right: 12px;
}

.containerInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.infoDate {
    display: flex;
    justify-content: space-between;
    color: #6b6b6b;
    font-size: 14px;
}